<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      @if (isAddingTask) {
      <app-new-task
        (completed)="closeAddTask()"
        (taskOutput)="addTask($event)"
        [userId]="userId"
      ></app-new-task>
      }
      <button (click)="openAddTask()">Add Task</button>
    </menu>
  </header>
  <ul>
    @for (task of selectedUserTasks; track $index) {
    <li>
      <app-task [task]="task" (complete)="onCompleteTask($event)"> </app-task>
    </li>
    }
  </ul>
</section>
